.navbar {
    width: 100%;
    background-color: white;
    padding-left: 50px;
    box-shadow: 0 0 15px 0 rgb(0 0 0 / 10%);
    z-index: 10;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.logo-img {
    max-width: 100px;
    margin-right: 20px;
    cursor: pointer;
}